#Aatrox {
  object-position: 60%;
}
#Ahri {
  object-position: 75%;
}
#Akali {
  object-position: 45%;
}
#Akshan {
  object-position: 65%;
}
#Alistar {
  object-position: 60%;
}
#Amumu {
  object-position: 75%;
}
#Anivia {
  object-position: 70%;
}
#Annie {
  object-position: 95%;
}
#Ashe {
  object-position: 65%;
}
#Azir {
  object-position: 80%;
}
#Bard {
  object-position: 75%;
}
#Blitzcrank {
  object-position: 75%;
}
#Brand {
  object-position: 85%;
}
#Braum {
  object-position: 85%;
}
#Briar {
  object-position: 55%;
}
#Caitlyn {
  object-position: 85%;
}
#Camille {
  object-position: 85%;
}
#Cassiopeia {
  object-position: 80%;
}
#Cho-Gath {
  object-position: 65%;
}
#Corki {
  object-position: 80%;
}
#Darius {
  object-position: 65%;
}
#Diana {
  object-position: 80%;
}
#Draven {
  object-position: 95%;
}
#Ekko {
  object-position: 85%;
}
#Elise {
  object-position: 85%;
}
#Ezreal {
  object-position: 75%;
}
#Fiddlesticks {
  object-position: 30%;
}
#Fiora {
  object-position: 70%;
}
#Fizz {
  object-position: 90%;
}
#Galio {
  object-position: 48%;
}
#Gangplank {
  object-position: 75%;
}
#Garen {
  object-position: 85%;
}
#Gnar {
  object-position: 85%;
}
#Gragas {
  object-position: 70%;
}
#Graves {
  object-position: 80%;
}
#Hecarim {
  object-position: 70%;
}
#Heimerdinger {
  object-position: 80%;
}
#Illaoi {
  object-position: 70%;
}
#Ivern {
  object-position: 45%;
}
#Janna {
  object-position: 85%;
}
#Jarvan-IV {
  object-position: 80%;
}
#Jax {
  object-position: 60%;
}
#Jayce {
  object-position: 80%;
}
#Jhin {
  object-position: 60%;
}
#Jinx {
  object-position: 85%;
}
#K-Sante {
  object-position: 45%;
}
#Kai-Sa {
  object-position: 40%;
}
#Kalista {
  object-position: 75%;
}
#Karma {
  object-position: 85%;
}
#Karthus {
  object-position: 75%;
}
#Kassadin {
  object-position: 70%;
}
#Katarina {
  object-position: 70%;
}
#Kayle {
  object-position: 85%;
}
#Kennen {
  object-position: 85%;
}
#Kha-Zix {
  object-position: 80%;
}
#Kled {
  object-position: 85%;
}
#Kog-Maw {
  object-position: 85%;
}
#Leblanc {
  object-position: 70%;
}
#Lee-Sin {
  object-position: 75%;
}
#Leona {
  object-position: 95%;
}
#Lillia {
  object-position: 40%;
}
#Lissandra {
  object-position: 80%;
}
#Lucian {
  object-position: 75%;
}
#Lulu {
  object-position: 75%;
}
#Lux {
  object-position: 65%;
}
#Malphite {
  object-position: 85%;
}
#Malzahar {
  object-position: 70%;
}
#Maokai {
  object-position: 75%;
}
#Master-Yi {
  object-position: 85%;
}
#Milio {
  object-position: 60%;
}
#Miss-Fortune {
  object-position: 90%;
}
#Morgana {
  object-position: 90%;
}
#Naafiri {
  object-position: 30%;
}
#Nami {
  object-position: 80%;
}
#Nasus {
  object-position: 75%;
}
#Nautilus {
  object-position: 85%;
}
#Nidalee {
  object-position: 90%;
}
#Nilah {
  object-position: 75%;
}
#Nocturne {
  object-position: 80%;
}
#Olaf {
  object-position: 70%;
}
#Orianna {
  object-position: 80%;
}
#Poppy {
  object-position: 70%;
}
#Quinn {
  object-position: 75%;
}
#Rakan {
  object-position: 40%;
}
#Rammus {
  object-position: 70%;
}
#Rek-Sai {
  object-position: 70%;
}
#Renata-Glasc {
  object-position: 70%;
}
#Renekton {
  object-position: 70%;
}
#Rengar {
  object-position: 70%;
}
#Riven {
  object-position: 80%;
}
#Rumble {
  object-position: 70%;
}
#Ryze {
  object-position: 80%;
}
#Samira {
  object-position: 60%;
}
#Sejuani {
  object-position: 70%;
}
#Senna {
  object-position: 70%;
}
#Seraphine {
  object-position: 40%;
}
#Shaco {
  object-position: 85%;
}
#Shen {
  object-position: 85%;
}
#Shyvana {
  object-position: 80%;
}
#Singed {
  object-position: 70%;
}
#Sion {
  object-position: 80%;
}
#Smolder {
  object-position: 55%;
}
#Sona {
  object-position: 80%;
}
#Soraka {
  object-position: 60%;
}
#Swain {
  object-position: 75%;
}
#Syndra {
  object-position: 95%;
}
#Taliyah {
  object-position: 80%;
}
#Talon {
  object-position: 70%;
}
#Tam-Kench {
  object-position: 80%;
}
#Taric {
  object-position: 80%;
}
#Teemo {
  object-position: 80%;
}
#Thresh {
  object-position: 80%;
}
#Tristana {
  object-position: 70%;
}
#Trundle {
  object-position: 75%;
}
#Tryndamere {
  object-position: 80%;
}
#Twisted-Fate {
  object-position: 85%;
}
#Urgot {
  object-position: 60%;
}
#Vayne {
  object-position: 80%;
}
#Veigar {
  object-position: 60%;
}
#Vel-Koz {
  object-position: 60%;
}
#Vex {
  object-position: 70%;
}
#Vi {
  object-position: 80%;
}
#Viego {
  object-position: 75%;
}
#Viktor {
  object-position: 75%;
}
#Vladimir {
  object-position: 80%;
}
#Volibear {
  object-position: 70%;
}
#Warwick {
  object-position: 65%;
}
#Wukong {
  object-position: 75%;
}
#Xayah {
  object-position: 65%;
}
#Xerath {
  object-position: 70%;
}
#Yasuo {
  object-position: 85%;
}
#Yone {
  object-position: 60%;
}
#Yorick {
  object-position: 70%;
}
#Yuumi {
  object-position: 40%;
}
#Zac {
  object-position: 65%;
}
#Zed {
  object-position: 85%;
}
#Ziggs {
  object-position: 95%;
}
#Zyra {
  object-position: 90%;
}
