.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  width: fit-content;
  height: 30px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.pagination button i {
  margin-right: 5px;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
