.pagination {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: fit-content;
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.512);
  padding: var(--p10-padding-xs);
  margin: var(--p10-padding-xs);
  margin-top: 40px;
  border-radius: 15px;
}

.pagination button {
  width: fit-content;
  height: 35px;
  background-color: var(--p10-button-bg-color);
  border: none;
  margin: 0 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 100%;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#leftArrow,
#rightArrow {
  width: 35px;
}

.page-buttons {
  width: 200px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.page-buttons > button {
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--p10-primary-color);
  font-weight: bold;
}

.page-buttons > button .active {
  background-color: var(--p10-secondary-color);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.page-info {
  color: var(--p10-button-bg-color);
  text-shadow: 1px 1px 1px #000;
}
