.hamburger-button {
  display: none;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: var(--p10-button-bg-color);
  position: relative;
  left: 15px;
  z-index: 10000000;
}

.hamburger-button .bar {
  width: 25px;
  height: 3px;
  background-color: var(--p10-tertiary-color);
  margin: 5px 0;
  transition: 0.4s;
}

.hamburger-button.active .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger-button.active .bar2 {
  opacity: 0;
}

.hamburger-button.active .bar3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media (max-width: 950px) {
  nav ul.open {
    display: flex;
    width: 100%;

    transition: all 0.5s;
  }

  .hamburger-button {
    display: block;
  }
}
