@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");

:root {
  --p10-primary-color: #232946;
  --p10-secondary-color: #b8c1ec;
  --p10-tertiary-color: #fffffe;

  --p10-button-bg-color: #eebbc3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Playwrite DE Grund", cursive;
}

body {
  min-height: 100svh;
  background-color: var(--p10-primary-color);
}
