.main-button {
  border-radius: 8px;
  padding: 8px 10px;
  font-size: 14px;
  font-weight: 600;
  background-color: var(--p10-button-bg-color);
  color: var(--p10-primary-color);
  border: none;
  cursor: pointer;
}
