.login-form {
  width: 50%;
  height: fit-content;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 30px;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.537);
  color: var(--p10-primary-color);
  border: 3px solid var(--p10-button-bg-color);
}
