#home {
  min-height: 92svh;
  position: relative;
}

.home-header {
  width: 100%;
  height: 100%;
  position: absolute;
}

.home-header video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.home-header .capa {
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  mix-blend-mode: overlay;
}

.login-container {
  position: absolute;
  top: 20%;
  left: 35%;
  width: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--p10-padding-s);
}

.login-container img {
  width: 80%;
  min-width: 250px;
  margin-bottom: var(--p10-margin-m);
}

.login-container a {
  font-size: var(--p10-font-size-m);
  width: 50%;
  color: var(--p10-tertiary-color);
}

.login-container a:hover {
  color: #5caaef;
}

.login-container a:before {
  content: "";
  border-bottom: solid 1px var(--p10-secondary-color);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  opacity: 0;
}

.login-container a:hover:before {
  opacity: 1;
}

.login-container a,
.login-container a:before {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.login-container h3 {
  border-top: none;
}

.login-container a,
.login-container h3 {
  background-color: #c8aa6e;
  letter-spacing: 1px;
  padding: var(--p10-padding-s);
  outline: rgb(255, 255, 255) solid 1px;
  outline-offset: 3px;
}
