#home {
  min-height: 92svh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: var(--p10-gap-xl);
  background-image: url("./src/utils/assets/SummonerRiftMap.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-header {
  width: 80%;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.268);
  padding: var(--p10-padding-m);
  margin-top: var(--p10-margin-xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--p10-gap-s);
  -webkit-text-stroke: 0.5px var(--p10-secondary-color); /* Grosor y color del borde */
}

.home-header > h4 {
  font-size: var(--p10-font-size-m);
  font-family: var(--font-family-LoL);
  background-color: rgba(255, 255, 255, 0.268);
}

.home-header > h1 {
  font-family: var(--font-family-LoL);
  font-size: 80px;
  font-weight: 900;
  line-height: 80px;
  font-style: italic;
  background-color: rgba(255, 255, 255, 0.268);
}

.home-header > p {
  font-size: var(--p10-font-size-m);
  text-align: center;
  letter-spacing: 1px;
  background-color: rgba(255, 255, 255, 0.268);
}

.login-container {
  background-color: rgba(255, 255, 255, 0.268);
  width: 20%;
  text-align: center;
  border-radius: 20px;
}

.login-container a {
  font-size: var(--p10-font-size-m);
}
