header {
  width: 100%;
  height: 8svh;
  background-color: var(--p10-secondary-color);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10000;
}

header nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

header ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  transition: all 0.5s;
}

header ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

header a {
  font-size: var(--p10-font-size-s);
  letter-spacing: 2px;
  color: var(--p10-primary-color);
  font-weight: 600;
  padding: var(--p10-padding-xs);
  color: var(--p10-button-bg-color);
  text-shadow: 1px 1px 3px rgb(3, 15, 245);
  position: relative;
}

header a:before {
  content: '';
  background: var(--p10-button-bg-color);
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  animation: 0.8s no-hover;
  animation-fill-mode: forwards;
  z-index: -1;
  border-radius: 10px;
}

header a:hover:before,
header a:focus:before {
  animation: 0.3s hover linear;
  animation-fill-mode: forwards;
}

@keyframes hover {
  0% {
    transform: scaleX(0);
    height: 5px;
  }
  45% {
    transform: scaleX(1.05);
    height: 5px;
  }
  55% {
    height: 5px;
  }
  100% {
    transform: scaleX(1.05);
    height: 100%;
  }
}

@keyframes no-hover {
  0% {
    transform: scaleX(1.05);
    height: 100%;
  }
  45% {
    height: 5px;
  }
  55% {
    transform: scaleX(1.05);
    height: 5px;
    opacity: 1;
  }
  100% {
    transform: scaleX(0);
    height: 5px;
    opacity: 0.02;
  }
}

@media (max-width: 950px) {
  header ul {
    height: fit-content;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    background-color: var(--p10-primary-color);
    gap: 15px;
    z-index: 9999;
  }
  header ul li {
    padding: var(--p10-padding-s);
  }
  header a {
    border-radius: 10px;
    font-size: var(--p10-font-size-s);
    border-bottom: 2px solid var(--p10-button-bg-color);
  }
}
