.login-form {
  width: 100%;
}

.field-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-size: var(--p10-font-size-m);
}

.field-form label {
  width: 50%;
  letter-spacing: 1px;
  font-size: var(--p10-font-size-m);
  border-radius: 10px;
  padding: var(--p10-padding-xs);
  text-align: center;
  color: var(--p10-button-bg-color);
  text-shadow: 2px 2px 0px rgba(64, 116, 181, 1),
    2px -2px 0px rgba(64, 116, 181, 1), -2px 2px 0px rgba(64, 116, 181, 1),
    -2px -2px 0px rgba(64, 116, 181, 1), 2px 0px 0px rgba(64, 116, 181, 1),
    0px 2px 0px rgba(64, 116, 181, 1), -2px 0px 0px rgba(64, 116, 181, 1),
    0px -2px 0px rgba(64, 116, 181, 1);
  background-color: rgba(240, 248, 255, 0.736);
}

.field-form > input {
  text-align: start;
  width: 80%;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: var(--p10-font-size-s);
  background-color: rgba(255, 255, 255, 0.678);
  border: 3px solid var(--p10-tertiary-color);
}

.field-form > input::placeholder {
  color: var(--p10-button-bg-color);
  font-weight: 900;
}

@media (max-width: 600px) {
  #login .login-form,
  #login .register-form {
    width: 80%;
  }
  #login .register-form label {
    font-size: var(--p10-font-size-s);
    letter-spacing: 2px;
    width: 100%;
  }
}
