.field-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.field-form > input {
  text-align: center;
  width: 80%;
  padding: 5px 10px;
  border-radius: 8px;
  background-color: transparent;
  border: 2px solid var(--p10-tertiary-color);
}
