.create-champion-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  padding: var(--p10-padding-s);
  background-color: rgba(255, 255, 255, 0.537);
  color: var(--p10-primary-color);
  border: 3px solid var(--p10-button-bg-color);
}

.create-champion-form > h2,
.create-champion-form label {
  color: var(--p10-button-bg-color);
  text-shadow: 2px 2px 0px rgba(64, 116, 181, 1),
    2px -2px 0px rgba(64, 116, 181, 1), -2px 2px 0px rgba(64, 116, 181, 1),
    -2px -2px 0px rgba(64, 116, 181, 1), 2px 0px 0px rgba(64, 116, 181, 1),
    0px 2px 0px rgba(64, 116, 181, 1), -2px 0px 0px rgba(64, 116, 181, 1),
    0px -2px 0px rgba(64, 116, 181, 1);
  background-color: rgba(240, 248, 255, 0.356);
  text-align: center;
  font-size: var(--p10-font-size-xl);
}

.create-champion-form label {
  margin-top: var(--p10-margin-s);
  font-size: var(--p10-font-size-l);
}

.create-champion-form input {
  margin-bottom: var(--p10-margin-s);
  padding: var(--p10-padding-s);
  font-size: var(--p10-font-size-s);
  text-align: start;
  width: 60%;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.678);
  border: 3px solid var(--p10-tertiary-color);
}

.create-champion-form > input::placeholder {
  color: var(--p10-button-bg-color);
  font-weight: 900;
}

.create-champion-form button {
  border-radius: 8px;
  padding: 8px 10px;
  font-size: 14px;
  font-weight: 600;
  background-color: var(--p10-button-bg-color);
  color: var(--p10-primary-color);
  border: none;
  cursor: pointer;
}
